<h1>Employees Payroll</h1>

{{#employees-filter
    filter=(action 'filterByName')
    as |result|}}
    <ul class="results">
        {{#each result as |resultItem|}}
            <li>{{employee-details employee=resultItem}}</li>
        {{/each}}
    </ul>
{{/employees-filter}}

