<h1>Employees Payroll</h1>

{{#employees-filter
    filter=(action 'filterByName')
    as |employees|}}
    <ul class="results">
        {{#each model as |modelItem|}}
            {{employee-details employee=modelItem}}
        {{/each}}
    </ul>
{{/employees-filter}}

