<h1 class="payroll-title">Employees Payroll</h1>

{{#employees-filter
    filter=(action 'filterByName')
    as |filteredEmployees|}}
    <ul class="results">
        {{#each filteredEmployees as |filteredEmployee|}}
            <li>{{employee-details employee=filteredEmployee}}</li>
        {{/each}}
    </ul>
{{/employees-filter}}

